@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --pale-slate: #C8BCC2;
    --light-color: #efefef;
    --wild-blue-wonder: #8A89B6;
    --jacarta: #2E2463;
    --tango: #F06A1D;
    
    --fonte-destaque: 'Raleway', sans-serif;
    --fonte-padrao: 'Lato', sans-serif;
}

* {
    margin: 0px
}
body {
    background-color: var(--wild-blue-wonder);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--light-color);
    color: var(--jacarta);
    justify-content: space-between;
    display: flex;
}

header > a > img {
    height: 36px;
    margin-left: 48px
}

nav {
    align-self: flex-end;
    margin: auto 20px;
}

nav > a {
    text-decoration: none;
    font-size: 18px;
    font-family: var(--fonte-destaque);
    font-weight: 700;
    margin-right: 20px;
}

main {
    background-color: var(--wild-blue-wonder);
}

.capa {
    color: var(--light-color);
    background: linear-gradient(rgba(46, 36, 99, 0.5), rgba(46, 36, 99, 0.5)), url("imagens/Back-to-Office.jpg");
    padding: 200px;
    background-size: cover;
    background-position: center;
}

.capa h1 {
    font-family: var(--fonte-destaque);
    font-size: 96px;
    margin-bottom: 20px;
}

.capa h2 {
    font-size: 48px;
}

.comunicado {
    /*background-color: var(--wild-blue-wonder);*/
    color: var(--jacarta);
    font-size: 24px;
    padding: 48px;
    display: flex;
}

.comunicado img {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    align-self: center;
}

.texto-comunicado {
    margin: 40px;
    align-self: center;
    text-shadow: 1px 1px 1px var(--jacarta);

}

.texto-comunicado p{
    margin-bottom: 25px;
    text-align: justify;
}

span{
    color: var(--tango);
}


.regras {
    color: var(--light-color);
    text-align: justify;
}

.regras h1 {
    font-size: 48px;
    text-shadow: 2px 2px 1px var(--wild-blue-wonder);
    margin-left: 18px;
}

.regras p {
    font-size: 20px;
}

.informacoes-gerais, .protocolos {
    background-color: rgba(46, 36, 99, 1);
    padding: 24px;
    margin: 36px;
    border-radius: 30px;
    box-shadow: 0 0 5px 3px var(--pale-slate);
}

.conteudo-infos, .conteudo-protocolos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.conteudo-infos p{
    width: 400px;
}

.conteudo-infos img {
    width: 150px;
    height: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.conteudo-protocolos p {
    width: 400px;
}

.conteudo-protocolos img {
    width: 150px;
    height: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.horario, .localizacao, .regras-agendamento, .temperatura, .mascara, .distanciamento, .sintomas, .ocupacao {
    margin: 20px;
}

.regras-agendamento a {
    text-decoration: none;
    color: var(--light-color);
}

.agendamento {
    color: var(--light-color);
    font-family: var(--fonte-destaque);
    text-shadow: 2px 2px 1px var(--jacarta);
    padding: 36px;
    text-align: center;
}

.agendamento p{
    margin: 20px auto;
    font-size: 18px;
    color: var(--jacarta);
    font-weight: 700;
    text-shadow: none;
}

.dados-colaborador{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.dados-colaborador h3{
    font-family: var(--fonte-padrao);
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dados-colaborador input {
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.dados-colaborador select {
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.agendamento button {
    color: var(--light-color);
    background-color: var(--tango);
    font-family: var(--fonte-destaque);
    font-size: 24px;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}

#resultado {
    color: var(--tango);
    text-shadow: 0 0 1px 3px var(--pale-slate);
    font-size: 24px;
    font-weight: 700;
    margin: 24px;
    height: 24px;
}

.resultadoVagas p{
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: var(--light-color);
    text-shadow: 2px 2px 1px var(--jacarta);
}

#tabelaVagas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#tabelaVagas p {
    color: var(--jacarta);
    text-shadow: none;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: left;
}

table, th, td {
    font-size: 20px;
    border: 1px solid var(--pale-slate);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
}